html {
	padding: 0;
	margin: 0;
	height: 100%;
	min-width: 800px;
}

body {
	font-size: 14px;
	font-family: "museo-slab",serif;
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	width: 100%;
	background: white;
	color: black;
	min-height: 100%;
	position: relative;
}

a {
	font-weight: 900;
	text-decoration: none;
	color: inherit;
}

a:hover, .nav a:hover, #current {
	font-style: italic;
}

#current a:hover {
	font-style: normal,
}

a:focus, a:active, .nav a:focus, .nav a:active {
	text-decoration: underline;
}

#main a:visited {
	color: #440000;
}

abbr {
	border-bottom: .1em dotted;
	cursor: help;
}

#header {
	width: 100%;
	height: 10em;
	margin-top: 0;
	padding-top: 2em;
}



.logo {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	display: block;
	height: 16em;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.nav a {
	height: 30px;
	margin-top: .5em;
	margin-bottom: auto;
	text-transform: uppercase;
	font-family: "soleil",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	color: black;
}

.nav p {
	margin-top: 1em;
	margin-bottom: .5em;
}

#main {
	width: 100%;
	padding-top: 6em;
	padding-bottom: 4em;
	display: block;
	height: auto;
	padding-bottom: 14em;
}

.title {
	font-family: "soleil",sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	padding-left: .2em;
	color: black;
}

h1 {
	text-align: center;
	display: none;
}

.white {
	margin-bottom: 1em;
	text-align: center;
	margin-top: 2em;
	border-bottom: 2px solid black;
}

p {
	margin: 0;
	margin-bottom: 2em;
}

.artist {
	height: 8.5em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0;
}

.artistimg {
	background: #222; /* for non-css3 browsers */
	height: 7em;
	margin: 0;
	width: 100%;
	background-position: center center;
	background-size: cover;
}

.artistname, .artstname a {
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	height: 1.5em;
	padding-top: .6em;
	color: black;
	padding-left: .2em;
	text-transform: uppercase;
	font-family: "soleil",sans-serif;
	font-style: normal;
	font-weight: 700;
	border-bottom: 2px solid black;
}

.videotext {
	height: 2em;
}

.about {
	background-color: white;
	color: black;
}

.abouttext {
	width: auto;
	margin: 1em;
}

img {
	width: 100%;
	margin: .1em;
}

.reblog img {
	width: 16px;
	height: 16px;
	float: right;
}

.follow {
	-webkit-border-image: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.10000000149011612s;
	-webkit-transition-property: padding;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.380392);
	border-bottom-color: rgba(0, 0, 0, 0.180392);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.180392);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.180392);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.180392);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: block;
	float: left;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	height: 20px;
	right: 5px;
	top: 5px;
	line-height: 18px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 5px;
	outline-color: white;
	outline-style: none;
	outline-width: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 0px;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, 0.0784314) 1px 1px 0px;
	visibility: visible;
	white-space: nowrap;
	width: 64px;
	position:absolute;
	background-image: url('/assets/follow.png');
	background-repeat: no-repeat;
	background-size: 12px;
	background-origin: padding-box;
	background-position: 3px;
}

#bottom {
	text-align: right;
	padding-top: 1em;
	padding-bottom: 5em;
	margin-bottom: 0;
	color: white;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #222; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #222,  #000); /* for firefox 3.6+ */ 
}

#bottom .space {
	margin-bottom: 1em;
}

#bottom p{
	margin-bottom: 0;
}

soundcloud {
	height: 450px;
	margin-top: 4em;
	margin-bottom: 4em;
}

.white {
	background-color: white;
	color: black;
}

.album {
	margin-bottom: 2em;
}

.video {
	height: 281px;
}

.quote, quote a {
	text-align: center;
	font-style: italic;
	font-weight: 900;
}

.galleria {
	width: 100%;
	color: white;
	height: 400px;
	background: black;
}

.gallery_super {
	width: 100%;
}

ol.tumblr_posts {

    list-style:none;
}

.tumblr_title {
	display: none;
}







/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
	margin-left: 3%;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:6.333%;
}

.container_12 .grid_2 {
	width:14.667%;
}

.container_12 .grid_3 {
	width:23.0%;
}

.container_12 .grid_4 {
	width:31.333%;
}

.container_12 .grid_5 {
	width:39.667%;
}

.container_12 .grid_6 {
	width:48.0%;
}

.container_12 .grid_7 {
	width:56.333%;
}

.container_12 .grid_8 {
	width:64.667%;
}

.container_12 .grid_9 {
	width:73.0%;
}

.container_12 .grid_10 {
	width:81.333%;
}

.container_12 .grid_11 {
	width:89.667%;
}

.container_12 .grid_12 {
	width:98.0%;
}



/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:8.333%;
}

.container_12 .prefix_2 {
	padding-left:16.667%;
}

.container_12 .prefix_3 {
	padding-left:25.0%;
}

.container_12 .prefix_4 {
	padding-left:33.333%;
}

.container_12 .prefix_5 {
	padding-left:41.667%;
}

.container_12 .prefix_6 {
	padding-left:50.0%;
}

.container_12 .prefix_7 {
	padding-left:58.333%;
}

.container_12 .prefix_8 {
	padding-left:66.667%;
}

.container_12 .prefix_9 {
	padding-left:75.0%;
}

.container_12 .prefix_10 {
	padding-left:83.333%;
}

.container_12 .prefix_11 {
	padding-left:91.667%;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:8.333%;
}

.container_12 .suffix_2 {
	padding-right:16.667%;
}

.container_12 .suffix_3 {
	padding-right:25.0%;
}

.container_12 .suffix_4 {
	padding-right:33.333%;
}

.container_12 .suffix_5 {
	padding-right:41.667%;
}

.container_12 .suffix_6 {
	padding-right:50.0%;
}

.container_12 .suffix_7 {
	padding-right:58.333%;
}

.container_12 .suffix_8 {
	padding-right:66.667%;
}

.container_12 .suffix_9 {
	padding-right:75.0%;
}

.container_12 .suffix_10 {
	padding-right:83.333%;
}

.container_12 .suffix_11 {
	padding-right:91.667%;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:8.333%;
}

.container_12 .push_2 {
	left:16.667%;
}

.container_12 .push_3 {
	left:25.0%;
}

.container_12 .push_4 {
	left:33.333%;
}

.container_12 .push_5 {
	left:41.667%;
}

.container_12 .push_6 {
	left:50.0%;
}

.container_12 .push_7 {
	left:58.333%;
}

.container_12 .push_8 {
	left:66.667%;
}

.container_12 .push_9 {
	left:75.0%;
}

.container_12 .push_10 {
	left:83.333%;
}

.container_12 .push_11 {
	left:91.667%;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-8.333%;
}

.container_12 .pull_2 {
	left:-16.667%;
}

.container_12 .pull_3 {
	left:-25.0%;
}

.container_12 .pull_4 {
	left:-33.333%;
}

.container_12 .pull_5 {
	left:-41.667%;
}

.container_12 .pull_6 {
	left:-50.0%;
}

.container_12 .pull_7 {
	left:-58.333%;
}

.container_12 .pull_8 {
	left:-66.667%;
}

.container_12 .pull_9 {
	left:-75.0%;
}

.container_12 .pull_10 {
	left:-83.333%;
}

.container_12 .pull_11 {
	left:-91.667%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}




@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  #header { display: none;}
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}